.currency-card {
  width: 600px;
  height: 400px;
  border: 2px solid black;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgb(46, 117, 199);
}

.title {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.amounts {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  justify-content: center;
}

label {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.currency {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  align-items: center;
}

#currency-from {
  padding: 20px 70px;
}

#currency-to {
  padding: 20px 70px;
}

.arrows {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: rgb(46, 117, 199);
  border: none;
  margin-top: 25px;
}

.arrow {
  justify-content: center;
}
